@font-face {
    font-family: "VT323";
    src: url("../fonts/vt323/VT323-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: black;
}

canvas {
    background: #838D72;
    display: block;
    margin: 0 auto;
}

#infoPanel {
    font-family: VT323, sans-serif;
    padding: 15px;
    background: #303a1f;
    color: #46bb00;
    width: 480px;
    margin: 0 auto;
    font-size: 51px;
    text-align: center;
}

#infoPanel .entry-message.is-success {
    color: #46bb00;
}

#infoPanel .entry-message.is-danger {
    color: #bb3500;
}